* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #7eabae;
}
body {
  background-color: #eadbc4;
}

.nav-h1 {
  font-style: italic;
  font-size: 85px;
  padding: 15px;
  color: #443434;
}
.nav {
  padding: 15px;
}
.products-link:link,
.products-link:visited {
  text-decoration: overline;
  color: #443434;
}
a:link,
a:visited {
  font-style: italic;
  text-decoration: none;
  margin-right: 10px;
  letter-spacing: 1.2px;
  font-size: 30px;
  color: #eadbc4;
}

a:hover {
  text-decoration: overline;
  color: #443434;
  transition: 0.1s;
}
.all-products {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.product {
  overflow: hidden;
  background: #ffff;
  color: #443434;
  text-align: center;
  width: 240px;
  height: 400px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1.2rem;
  margin: 2rem;
}
.product-title {
  font-size: 25px;
}
.product-price {
  font-size: 20px;
}
.product:hover img {
  transition: 1s;
}
.product:hover {
  box-shadow: 5px 15px #7eabae;
  transition: 2s;
}
.product img {
  height: 200px;
  margin: 1rem;
}
.product-btn {
  align-self: center;
  width: 200px;
  height: 65px;

  font-size: 25px;
  padding: 10px;
  border-radius: 15px;
  border: solid 1px;
  background-color: #7eabae;
  color: #eadbc4;
}

.product-btn:hover {
  color: #443434;
  background-color: #7ecbd1;
  cursor: pointer;
  transition: 1s;
}
.btn {
  align-self: center;
  width: 200px;
  height: 65px;
  margin-right: 40px;
  font-size: 25px;
  padding: 10px;
  border-radius: 15px;
  border: solid 1px;
  background-color: #7eabae;
  color: #eadbc4;
}
.btn:hover {
  color: #443434;
  background-color: #7ecbd1;
  cursor: pointer;
  transition: 1s;
}
.footer {
  background: #443434;
  padding: 30px 0px;
  font-family: "Play", sans-serif;
  text-align: center;
}

.footer .row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: #eadbc4;
  font-size: 12px;
}

.footer .row a {
  text-decoration: none;
  color: #eadbc4;
  transition: 0.5s;
}

.footer .row a:hover {
  color: #fff;
}

.footer .row ul {
  width: 100%;
}

.footer .row ul li {
  display: inline-block;
  margin: 0px 30px;
}

.footer .row a i {
  font-size: 32px;
  margin: 0% 1%;
}
.footer-information {
  display: flex;
  justify-content: space-around;
}
.footer-email,
.footer-number {
  font-size: 25px;
}
